@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100,200.300.400.500.700|Exo:100,200,300,400,500,600,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*---Header---*/

header {
    display: flex;
    justify-content: space-between;
    background-color: #24252a;
    width: 100%;
    height: 100px;
    /*position: fixed;*/
}

li {
    font-family: "montserrat", sans-serif;
    font-weight: 100;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    justify-content: flex-end;
}

#logo {
    cursor: pointer;
    color: #fff;
    padding-left: 60px;
    padding-top: 40px;
    font-weight: 900;
    font-size: x-large;
    list-style: none;
}

#logo span {
    color: #0088a9;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    margin-left: 20px;
    padding-right: 60px;
    padding-top: 50px;
    border: none;
    cursor: pointer;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    color: #fff;
}

.nav_links li a:hover {
    color: #0088a9;
}

/*---Body---*/

body {
    background-color: rgb(221, 205, 205);
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

.hero-img {
    background: url("../images/airbnb-kenya-2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 85vh;
    padding-top: 22%;
}

.intro {
    color: #fff;
    padding-top: 220px;
    padding-right: 100px;
    font-weight: 900;
    font-size: xx-large;
    text-align: center;
}

h2 {
    padding-left: 215px;
    padding-top: 50px;
}

h3 {
    padding-left: 30px;
    padding-top: 30px;
}

.about {
    position: relative;
    width: 1200px;
    height: 200px;
    /*margin: 240px auto;*/
}
   
.about .box {
    position: relative;
    width: calc(1000px - 90px);
    height: calc(200px - 20px);
    /*background: #000;*/
    float: left;
    margin-left: 220px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

.about .box p {
    color: #000;
    position: absolute;
    top: 15px;
}

.places {
    position: relative;
    background: #fff;
    width: 100%;
    height: auto;
    padding-right: 180px;
}

.row {
    position: relative;
    width: 1300px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    /*margin: 240px auto;*/
}
   
.row .col-lg {
    position: relative;
    width: calc(400px - 30px);
    height: calc(400px - 30px);
    float: left;
    margin-left: -20px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    margin: 0px;
}

.hero {
    width: 100%;
    height: 160%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
    margin: 0px;
}


.join {
    position: relative;
    padding-top: 50px;
    /*background: #fff;*/
    width: 100%;
    height: auto;
}

.container-row {
    position: relative;
    width: 1525px;
    height: 420px;
    margin-left: -30;
    /*margin: 240px auto;*/
}
   
.container-row .col-xl {
    position: relative;
    width: calc(1290px - 30px);
    height: calc(500px - 30px);
    float: left;
    margin-left: -75px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

.area {
    margin-top: 0;
}

/*---Form---*/

.contact {   
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
}

.contact-form {
    margin-top: 50px;
    transition: all 4s ease-in-out;
    padding-left: 10px;
    width: 100%;
    height: auto;
    margin: -30px;
    display: flex;
    flex-wrap: wrap;
    flex: 50px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px, 0px, 10px, 0px, #666;
}

.contact-map {
    width: 100%;
    height: auto;
    flex: 50%;
    padding: 0px;
}

.contact-map iframe {
    width: 100%;
    height: 100%;
}

h1 {
    padding-left: 40px;
    margin-bottom: -90px;
    margin-top: 40px;
    transition: all 4s ease-in-out;
}

.form-control {
    width: 500px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;
}

input {
    width: 500px;
    height: 45px;
    border: none;
    outline: none;
    padding: 10px;
    border-bottom: 1px solid grey;
}

form .submit {
    background: #ff5722;
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}

form .submit:hover {
    background-color: #0088a9;
    cursor: pointer;
}

/*---Map--*/

.route {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 130px;
    /*background: #f3f0f0;*/
}

.row-colum {
    position: relative;
    width: 1110px;
    height: 720px;
    margin-left: -30;
    padding-top: 70px;
}

.row-colum .col-xl {
    position: relative;
    width: calc(600px - 30px);
    height: calc(600px - 30px);
    float: left;
    margin-left: -70px;
    padding-right: 40px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

.row-colum .col-xl-route {
    position: relative;
    width: calc(500px - 30px);
    height: calc(500px - 30px);
    float: left;
    margin-left: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

.visit {
    margin-top: 20px;
}
li {
    color: #000;
}

ul {
    padding-left: 20px;
}

#map {
    min-height: 600px;
}

/*---Footer---*/

footer {
    background-color: #24252a;
    width: 100%;
    height: 80px;
}

footer .footer-bottom {
    color: #fff;
    padding-top: 40px;
    padding-left: 40px;
}

.footer-socials a {
    padding-top: 40px;
    padding-right: 40px;
    float: right;
    color: #fff;
}

.socials a li {
    color: #e7f2f4;
    padding-top: 10px 12px;
    font-size: 20px;
}

/*---Media Queries*/


@media all and (max-width: 1300px) {
    #logo {
        padding-left: 40px;
    }
}

@media all and (max-width: 1300px) {
    .intro {
        padding-top: 460px;
        font-size: xx-large;
        padding-left: 120px;
    }
}

@media all and (max-width: 1300px) {
    .hero-img {
        height: 88vh;
    }
}

@media all and (max-width: 1300px) {
    .hero {
        height: 100%;
    }
}

@media all and (max-width: 1300px) {
    .about {
        margin-left: -210px;
    }
}

@media all and (max-width: 1300px) {
    .container-row .col-xl {
        width: calc(500px - 30px);
        height: calc(500px - 30px);
    }
}

@media all and (max-width: 1300px) {
    h2 {
        padding-left: 5px;
    }
}

@media all and (max-width: 1300px) {
    h3 {
        padding-left: 0px;
        margin-left: -25px;
    }
}

@media all and (max-width: 1300px) {
    h4 {
        margin-left: 35px;
        font-size: 2em;
        padding-top: 20px;
    }
}

@media all and (max-width: 1300px) {
    .row  {
        width: 400px;
        padding-left: 0px;
    };
}

@media all and (max-width: 1300px) {
    .row .col-lg {
        width: calc(500px - 30px);
        padding-left: 0px;
    };
}

@media all and (max-width: 375px) {
    .row-colum .col-xl {
        width: calc(450px - 30px);
        height: calc(500px - 30px);
        margin-left: -30px;
    }
}

@media all and (max-width: 1300px) {
    .row-colum {
        width: 0px;
        height: 1000px;
        margin-left: -10px;
    };
}

@media all and (max-width: 1300px) {
    .places {
        background: none;
    }
}

@media all and (max-width: 1300px) {
    .about .box {
        width: calc(396px - 30px);
        height: calc(500px - 30px);
    }
}

@media all and (max-width: 1300px) {
    .container {
        padding-left: 30px;
    }
}

@media all and (max-width: 1300px) {
    .area {
        padding-left: 40px;
        padding-left: 20px;
    }
}

@media all and (max-width: 1300px) {
    .route {
        margin-top: 50px;
    }
}

@media all and (max-width: 1300px) {
    .row-colum .col-xl-route {
        margin-left: 0px;
        width: calc(400px - 30px);
    }
}

@media all and (max-width: 1300px) {
    .visit {
        margin-top: 0px;
    }
}

@media all and (max-width: 1300px) {
    .footer-socials a {
        margin-top: 0px;
        padding-top: 10px;
        padding-right: 84px;
    }
}

@media all and (max-width: 1300px) {
    footer .footer-bottom {
        padding-left: 22px;
        padding-top: 50px;
    }
}

@media all and (max-width: 1300px) {
    footer {
        height: 100px;
    }
}

@media all and (max-width: 360px) {
    .intro {
        padding-top: 320px;
    }
}





